
/*Navigation Bar*/

.navbar{
	height: 50px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 10px;
	border-bottom: 1px solid grey;

}

.logo-container{
	margin-top: -3px;
	height: 30px;
	width: 200px;
	margin-left: 30px;
	display: inline-block;
}


.youtube-button{
	display: inline-block;
	height: 30px;
	position: absolute;

}

.logo-masthead{
	background: no-repeat url("../assets/pics/index/www-hitchhiker-vfl-Nn88d.png") -178px -227px;
	background-size: auto;
	width: 73px;
	height: 30px;
	display: inline-block;
	margin-left: 50px;
}

.content-region{
	position: absolute;
	font-size: 13px;
}


/* Search Form */

.search-form-container{
	clear: both;
	display: inline-block;
	height: 50px;
	width: 500px;
}

.search-btn{
	float:right;
}

.search-box{
	padding-right: 170px;
}
/* Body */

.body{
	min-height: 100%;
	position: relative;
}

.video-player{
	background-color: orange;
	height: 360px;
	float: left;
	margin-top: 10px;
	margin-left: 70px;
	margin-bottom: 10px;
	width: 640px;
}

.sidebar{
	position: absolute;
	margin-left: 720px;
	margin-top: 10px;
	height: 720px;
	width: 400px;
	background-color: yellow;
}

.video.upnext{
	background-color: red;
	margin-top: 10px;
	margin-left: 10px;
	height: 100px;
	width: 350px;
}

.video.sidebar{
	background-color: pink;
	margin-top: 10px;
	margin-left: 10px;
	height: 500px;
	width: 350px;
}

.video-details{
	clear: both;
	background-color: green;
	position: relative;
	margin-left: 70px;
	margin-top: 10px;
	height: 100px;
	width: 640px;
}

.additional-video-details{
	clear: both;
	position: relative;
	background-color: blue;
	margin-top: 10px;
	margin-left: 70px;
	height: 100px;
	width: 640px;
}

.comments{
	clear: both;
	position: relative;
	background-color: red;
	margin-top: 10px;
	margin-left: 70px;
	height: 170px;
	width: 640px;
}

/* Footer */

.footer{
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	width: 100%;
	margin-top: 5px;
	background-color: blue;
}